@import url('https://fonts.googleapis.com/css?family=Raleway:200');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	font-family: 'Raleway', sans-serif;
	font-style: extra-light;
}

body{
	background: black;
}

#title{
	color: white;
	font-size: 40px;
	margin-top: 5px;
	padding: 5px;
	text-align: center;
}

#subtitle{
	color: white;
	font-size: 30px;
	margin-bottom: 5px;
	padding: 5px;
	text-align: center;
}

#canvas{
	text-align: center;
}

.button{
	text-align: center;
}

#start{
	display: inline-block;
	margin: 8px 5px;
	padding: 2px;
}

#stop{
	display: inline-block;
	margin: 8px 5px;
	padding: 2px;
}

#slider{
	text-align: center;
}
